
<div class="pb-2 pt-5 mx-auto" style="width: 50%;">
    <div class="alert alert-info mx-auto text-center" role="alert" style="text-align: top;vertical-align: top;" >
       <span><mat-icon style="color:red;font-size: 18px;">water_drop</mat-icon></span>  &nbsp; <span><b>Inscrivez votre centre de santé ici !! </b></span>   
    </div>


</div>

<div class="row ps-3">

<div class="col-md-4">
        
<div class="login">



    
    <div [formGroup]="signin2" class="card login">
      <div class=" card-body  pb-5 ">
    
    

    
    
         <div class="mat-title" style="text-align: center; margin: auto; margin-bottom: 30px;"> Identifiant</div>
    
         <div class="input-group">
          <span class="input-group-text"  style="background-color: #00B0D1 ;color:white "  id="basic-addon1"><mat-icon>account_circle</mat-icon></span>
          
          <input   autocomplete="new-password"  type="text" class="form-control" placeholder="Nom d 'utilisateur" aria-label="Nom d 'utilisateur" aria-describedby="basic-addon1" formControlName="login" [ngClass]="myerroclass(signin2,'login')" >
        </div>
        

   
        <app-form-error [nom]="'login'" [champ]="'login1'" [form]="signin2"  ></app-form-error>
        <br>


        <div formGroupName="verif_mp">
    
        <div class="input-group">
          <span style="background-color: #00B0D1;color:white " class="input-group-text" id="basic-addon1">  <mat-icon>lock</mat-icon></span>
          
          <input  autocomplete="new-password" [type]="hide ? 'password' : 'text'"  class="form-control" placeholder="Mot de passe" aria-label="Nom d 'utilisateur" formControlName="mp" [ngClass]="myerroclass(signin2,'mp',2,'verif_mp')" >
          <span  style="background-color: #00B0D1 ;color:white " (click)="hide = !hide"  class="input-group-text" >    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></span>
        </div>
        <app-form-error [nom]="'mp'" [champ]="'mp'" [form]="signin2"  [form2]="'verif_mp'" [type]=2 ></app-form-error>
        <br>

        <div class="input-group mt-4 ">
            <span style="background-color: #00B0D1;color:white " class="input-group-text" id="basic-addon1">  <mat-icon>lock</mat-icon></span>
            
            <input  autocomplete="new-password" [type]="hide ? 'password' : 'text'"  class="form-control" placeholder="Confirmer le mot de passe" aria-label="confirmer" formControlName="confirm_mp"  [ngClass]="myerroclass(signin2,'confirm_mp',3,'verif_mp')" >

            <span  style="background-color: #00B0D1 ;color:white " (click)="hide = !hide"  class="input-group-text" >    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></span>
          </div>

          <app-form-error [nom]="'confirm_mp'" [champ]="'mp2'" [form]="signin2"  [form2]="'verif_mp'" [type]=2 ></app-form-error>
  <app-form-error [nom]="'confirm_mp'" [champ]="'matching_passwords'" [form]="signin2"  [form2]="'verif_mp'" [type]=3 ></app-form-error>

          
          <br>
  
        </div>
        
    
       
    
    
   
    
    
    
        </div>
    
    
    
    </div>
    </div>


    
</div>

<div class="col-md-5">

    <div class="login">



    
        <div class="card login">
          <div  [formGroup]="signin1"  class=" card-body  pb-5 ">
        
        
      
        
        
             <div class="mat-title" style="text-align: center; margin: auto; margin-bottom: 30px;"> Informations</div>
        
             <div class="input-group">
              <span class="input-group-text label"  style="background-color: #00B0D1 ;color:white "  id="basic-addon1"><mat-icon>business</mat-icon>&nbsp; Raison sociale</span>
              
              <input   autocomplete="new-password"  type="text" class="form-control" placeholder="Raison sociale" aria-label="raison sociale" aria-describedby="basic-addon1" formControlName="nom"  [ngClass]="myerroclass(signin1,'nom')">&nbsp;*
            </div>
            <app-form-error [nom]="'nom'" [champ]="'nom'" [form]="signin1"  ></app-form-error>
         
    
            <br>


            <div class="input-group">
              <span class="input-group-text label"  style="background-color: #00B0D1 ;color:white "  id="basic-addon1"><mat-icon>business</mat-icon>&nbsp; Code</span>
              
              <input   autocomplete="new-password"  type="text" class="form-control" placeholder="Code" aria-label="raison sociale" aria-describedby="basic-addon1" formControlName="code"  [ngClass]="myerroclass(signin1,'code')">&nbsp;*
            </div>
            <app-form-error [nom]="'code'" [champ]="'nom'" [form]="signin1"  ></app-form-error>
         
    
            <br>
        
            <div class="input-group">
              <span style="background-color: #00B0D1;color:white " class="input-group-text label" id="basic-addon1">  <mat-icon>email</mat-icon> &nbsp; Adresse</span>
              
              <input [(ngModel)]="adresse" [ngModelOptions]="{standalone: true}" autocomplete="new-password" type="text"  class="form-control" placeholder="Adresse" aria-label="adresse"  >
         
            </div>
    
            <div class="input-group mt-4 ">
                <span style="background-color: #00B0D1;color:white " class="input-group-text label" id="basic-addon1">  <mat-icon>alternate_email</mat-icon>&nbsp; Email</span>
                
                <input  autocomplete="new-password" type="email"  class="form-control" placeholder="Email" aria-label="confirmer" formControlName="email" [ngClass]="myerroclass(signin1,'email')"  >&nbsp;*
        
              </div>

              <app-form-error [nom]="'email'" [champ]="'email'" [form]="signin1"  ></app-form-error>

              <div class="input-group mt-4 ">
                <span style="background-color: #00B0D1;color:white " class="input-group-text label" id="basic-addon1">  <mat-icon>place</mat-icon>&nbsp; Ville</span>
                
                <input  [(ngModel)]="ville" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"  autocomplete="new-password" type="text"  class="form-control" placeholder="Ville" aria-label="confirmer" formControlName="ville" [ngClass]="myerroclass(signin1,'ville')"  >&nbsp;*
              
        
              </div>
              <app-form-error [nom]="'ville'" [champ]="'nom'" [form]="signin1"  ></app-form-error>

              <div class="input-group mt-4 ">
                <span style="background-color: #00B0D1;color:white " class="input-group-text label" id="basic-addon1">  <mat-icon>place</mat-icon> &nbsp; Région</span>
                
                <input  readonly="true" [(ngModel)]="region"  autocomplete="new-password" type="text"  class="form-control" placeholder="Région" aria-label="confirmer" [ngModelOptions]="{standalone: true}"  >&nbsp;*
        
              </div>
        

              <div class="input-group mt-4 ">
                <span style="background-color: #00B0D1;color:white " class="input-group-text label" id="basic-addon1">  <mat-icon>place</mat-icon>&nbsp; Quartier</span>
                
                <input  [(ngModel)]="quartier" ngx-google-places-autocomplete [options]='options2' #placesRef2="ngx-places" (onAddressChange)="handleAddressChange2($event)"  autocomplete="new-password" type="text"  class="form-control" placeholder="Quartier" aria-label="confirmer" formControlName="quartier" [ngClass]="myerroclass(signin1,'quartier')"   >&nbsp;*
        
              </div>
              <app-form-error [nom]="'region'" [champ]="'quartier'" [form]="signin1"  ></app-form-error>

              <div class="input-group mt-4 ">
                <span style="background-color: #00B0D1;color:white " class="input-group-text label" id="basic-addon1">  <mat-icon>phone</mat-icon>&nbsp; téléphone</span>
                
                <input  [showMaskTyped]="true"  mask="000000000"    autocomplete="new-password" type="text"  class="form-control" placeholder="télephone" aria-label="confirmer" formControlName="telephone"  [ngClass]="myerroclass(signin1,'telephone')"  >&nbsp;*
        
              </div>

              <app-form-error [nom]="'telephone'" [champ]="'nom'" [form]="signin1"  ></app-form-error>
      
      
    
            
        
           
        
        
       
        
        
        
            </div>
        
        
        
        </div>
        </div>



</div>

<div class="col-md-3">


    <img src="assets/images/don2.jpg" alt="" srcset="" class="img1">

    <img src="assets/images/don.jpg" alt="" srcset="" class="img1">



</div>



</div>

<div style="width: 100%; border: 0px solid red;">
    <button  [disabled]="signin1.invalid || signin2.invalid  "   class="mt-5 mb-3 rounded-3  rounded-pill"style="width: 300px; margin: auto;display: block;"  (click)="sign()" mat-raised-button color="success">Valider</button>

</div>


<!-- [disabled]="signin1.invalid || signin2.invalid  "  -->