
<div style="color:#00B0D1"  class="bg-white border border-primary border-2 p-2 mb-3  text-center ">
    <b>Antecedants medicaux</b> 
    </div>
    <div *ngIf="s!=0" class=" mt-2 alert alert-warning" role="alert" style="width: 100%;">
      <i style="color:orange" class="fas fa-exclamation-triangle"></i>&nbsp; <b>Le donneur ne pourra donner du sang que dans 4 (quatre) mois</b> 
     </div>
     
    
    
    <div class="input-group mb-3">
     
        <span class="p-2 ml-3 question"   id="basic-addon1"> Avez-vous un nouveau partenaire (avec ou sans préservatifs) ? </span>
          <div class="p-2">
        <div class="form-check form-check-inline mr-3 ">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" [(ngModel)]="question1" [value]=1>
            <label class="form-check-label" for="flexRadioDefault1">Oui </label>
          </div> 
          <div class="form-check form-check-inline mr-3 ">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked [(ngModel)]="question1" [value]=0>
            <label class="form-check-label" for="flexRadioDefault2">
             <Nav>  Non</Nav>
            </label>
          </div>
    
        </div>
    
    </div>
    
    <div class="input-group mb-3">
     
        <span class="p-2 ml-3 question"    id="basic-addon1"> Avez-vous eu  Un tatouage ou Un piercing ? </span>
          <div class="p-2">
        <div class="form-check form-check-inline mr-3 ">
            <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault1" [(ngModel)]="question2" [value]=1>
            <label class="form-check-label" for="flexRadioDefault1">Oui </label>
          </div> 
          <div class="form-check form-check-inline mr-3 ">
            <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault2" checked [(ngModel)]="question2" [value]=0>
            <label class="form-check-label" for="flexRadioDefault2">
             <Nav>  Non</Nav>
            </label>
          </div>
    
        </div>
    
    </div>
    
    <div class="input-group mb-3">
     
        <span class="p-2 ml-3 question"    id="basic-addon1">  Avez-vous eu Une scarification ?</span>
          <div class="p-2">
        <div class="form-check form-check-inline mr-3 ">
            <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault1" [(ngModel)]="question3" [value]=1>
            <label class="form-check-label" for="flexRadioDefault1">Oui </label>
          </div> 
          <div class="form-check form-check-inline mr-3 ">
            <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault2" checked [(ngModel)]="question3" [value]=0>
            <label class="form-check-label" for="flexRadioDefault2">
             <Nav>  Non</Nav>
            </label>
          </div>
    
        </div>
    
    </div>
    
    <div class="input-group mb-3">
     
        <span class="p-2 ml-3 question"   id="basic-addon1"> Avez-vous eu Un traitement par acupuncture  ? </span>
          <div class="p-2">
        <div class="form-check form-check-inline mr-3 ">
            <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault1" [(ngModel)]="question4" [value]=1>
            <label class="form-check-label" for="flexRadioDefault1">Oui </label>
          </div> 
          <div class="form-check form-check-inline mr-3 ">
            <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault2" checked [(ngModel)]="question4" [value]=0>
            <label class="form-check-label" for="flexRadioDefault2" >
             <Nav>  Non</Nav>
            </label>
          </div>
    
        </div>
    
    </div>
    
    <div class="input-group mb-3">
     
        <span class="p-2 ml-3 question"    id="basic-addon1"> Avez-vous eu Une coupure avec un objet tranchant pouvant être contaminé ? </span>
          <div class="p-2">
        <div class="form-check form-check-inline mr-3 ">
            <input class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault1" [(ngModel)]="question5" [value]=1>
            <label class="form-check-label" for="flexRadioDefault1">Oui </label>
          </div> 
          <div class="form-check form-check-inline mr-3 ">
            <input class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault2" checked [(ngModel)]="question5" [value]=0>
            <label class="form-check-label" for="flexRadioDefault2">
             <Nav>  Non</Nav>
            </label>
          </div>
    
        </div>
    
    </div>
    
    <div class="input-group mb-3">
     
        <span class="p-2 ml-3 question"   id="basic-addon1"> Avez-vous eu Un contact direct et prolongé d’une peau souillée avec du sang ou des secrétions suspectes ? </span>
          <div class="p-2">
        <div class="form-check form-check-inline mr-3 ">
            <input class="form-check-input" type="radio" name="flexRadioDefault6" id="flexRadioDefault1" [(ngModel)]="question6" [value]=1>
            <label class="form-check-label" for="flexRadioDefault1">Oui </label>
          </div> 
          <div class="form-check form-check-inline mr-3 ">
            <input class="form-check-input" type="radio" name="flexRadioDefault6" id="flexRadioDefault2" checked [(ngModel)]="question6" [value]=0>
            <label class="form-check-label" for="flexRadioDefault2">
             <Nav>  Non</Nav>
            </label>
          </div>
    
        </div>
    
    </div>

    <div class="input-group mb-3">
     
        <span class="p-2 ml-3 question"   id="basic-addon1"> Avez-vous eu Une piqûre avec une aiguille souillée ?</span>
          <div class="p-2">
        <div class="form-check form-check-inline mr-3 ">
            <input class="form-check-input" type="radio" name="flexRadioDefault7" id="flexRadioDefault1" [(ngModel)]="question7" [value]=1>
            <label class="form-check-label" for="flexRadioDefault1">Oui </label>
          </div> 
          <div class="form-check form-check-inline mr-3 ">
            <input class="form-check-input" type="radio" name="flexRadioDefault7" id="flexRadioDefault2" checked [(ngModel)]="question7" [value]=0>
            <label class="form-check-label" for="flexRadioDefault2">
             <Nav>  Non</Nav>
            </label>
          </div>
    
        </div>
    
    </div>

 
    
        
        
    
    
      
    
      
    
    
    
    
    
    
    
    
    
    
