    
.form-control:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #DFDFDF;
  }
  button.mat-button {
    border-radius: 100;
 }

    
.form-control:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #DFDFDF;
  }
  .is-valid:focus{
    border: 1px solid green;
  }

  .is-invalid:focus{
    border: 1px solid red;
  }

  .input-group-text{
    max-width:210px
  }