<app-navigator [active]="page"></app-navigator>

<div class="row ">
    <div class="col-md-4" style="border: 0px solid red;"> 
        <div style="color:#00B0D1;width:300px;height: 50px;line-height: 25px;"  class="bg-white border border-primary border-3 p-1  mt-3 text-center  ms-4">
        <b>Liste des dons</b> 
         </div>

</div>

    <div class="col-md-4" style="border: 0px solid red;">

        <div class="input-group mb-4 border rounded-pill p-1 mt-3 border border-primary border-3" style="width:300px">
            <div class="input-group-prepend border-0">
              <button id="button-addon4" type="button" class="btn btn-link text-info"></button>
            </div>
            <input (input)="getItems($event)" [(ngModel)]="searchTerm" style="color:#00B0D1;" type="search" placeholder="Rechercher.." aria-describedby="button-addon4" class="search form-control bg-none border-0">
        
            <div class="input-group-append border-0">
                <button id="button-addon4" type="button" class="btn btn-link text-info"><i class="fa fa-search"></i></button>
              </div>
          </div>
        

    </div>


</div>






<div class=" p-3 "  style="border:3px solid #00B0D1;width: 95%;margin: auto;  ">
  
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Noms et prenom</th>
            <th scope="col">Sexe</th>
      
            <th scope="col">Ville</th>
            <th scope="col">Quartier</th>
            <th scope="col">Date du  don</th>
            <th scope="col">Code du don</th>
            <th scope="col">Type de donneur</th>
    
          </tr>
        </thead>
        <tbody>
          <tr  (click)="go(item)"  *ngFor="let item of donne">
            <th scope="row">{{item.nom}} {{item.prenom}}</th>
            <td>{{item.sexe=="Masculin"?"M":"F"}}</td>

            <td>{{item.ville}}</td>
            <td>{{item.quartier}}</td>
            <td >{{dateformate(item.date_don)}}</td>
            <td>{{item.code_don}}</td>
            <td>{{item.type_d}}</td>
          
   
          </tr>
        </tbody>  
    </table>




  </div>